
body {
	background-color: white
}
.bg-main{
	background-color: white;
}


*{
	font-family: 'Poppins', sans-serif;
	letter-spacing: .6px;
}
/* Custom CSS for pagination buttons */
.pagination {
    justify-content: center; /* Center-align the buttons */
}

.page-item {
    margin: 0 2px; /* Add spacing between buttons */
}

.page-link {
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: 1px solid #007bff; /* Add a border */
}

.page-link:hover {
    background-color: #0056b3; /* Change color on hover */
    border: 1px solid #0056b3; /* Change border color on hover */
}
